.view-details-btn {
	background-color: #CDD7D6 !important;
	border: 1px solid var(--main-bg-color) !important ;
	color: black !important;
	margin-right: 20px !important;
}

.save-event-btn {
	background-color: #8FD5A6 !important;
	border: 1px solid var(--main-bg-color) !important ;
	color: black !important;
}

.calendar-btn {
	margin-right: 20px !important;
}